
type {{{.TableNamePascal}}} struct {
    db *data.Tables
    way hey.WayWriterReader
}

// New{{{.TableNamePascal}}} {{{.TableName}}} {{{.TableComment}}}
func New{{{.TableNamePascal}}}(
    db *data.Tables,
    way hey.WayWriterReader,
) *{{{.TableNamePascal}}} {
	return &{{{.TableNamePascal}}}{
	    db: db,
	    way: way,
	}
}
