// hey-template version: {{{.Version}}}

package data

import (
	"github.com/cd365/hey"

	"{{{.DataImportModelPackageName}}}"
)

type Tables struct {
    tableMap map[string]model.Table
    tableSlice []string
	{{{.DataMapListDefine}}}
}

func (s *Tables) HeyMap() map[string]model.Table {
	length := len(s.tableMap)
	result := make(map[string]model.Table, length)
	for k, v := range s.tableMap {
		result[k] = v
	}
	return result
}

func (s *Tables) HeySlice() []string {
	length := len(s.tableSlice)
	result := make([]string, length)
	copy(result, s.tableSlice)
	return result
}

func NewTables(
	{{{.DataMapListParams}}}
) *Tables {
	s := &Tables{
		{{{.DataMapListAssign}}}
	}
	s.tableMap = map[string]model.Table{
        {{{.DataMapListStorage}}}
    }
    s.tableSlice = []string{
        {{{.DataMapListSlice}}}
    }
    return s
}

func autoWay(defaultWay *hey.Way, options ...*hey.Way) *hey.Way {
	for i := len(options) - 1; i >= 0; i-- {
		if options[i] != nil {
			return options[i]
		}
	}
	return defaultWay
}
