// hey-template version: {{{.TemplateVersion}}}

package data

import (
    "database/sql"

	"github.com/cd365/hey"

	"{{{.DataImportModelPackageName}}}"
)

type HeyTables struct {
    _map map[string]model.HeyFaster
	{{{.DataMapListDefine}}}
}

func NewHeyTables(
	{{{.DataMapListParams}}}
) *HeyTables {
	s := &HeyTables{
		{{{.DataMapListAssign}}}
	}
	s._map = map[string]model.HeyFaster{
        {{{.DataMapListStorage}}}
    }
    return s
}

func (s *HeyTables) Get(name string) model.HeyFaster {
	if had, ok := s._map[name]; ok {
		return had
	}
	return nil
}

func autoWay(defaultWay *hey.Way, options ...*hey.Way) *hey.Way {
	for i := len(options) - 1; i >= 0; i-- {
		if options[i] != nil {
			return options[i]
		}
	}
	return defaultWay
}
{{{.DataAllTablesSchemaContent}}}