package model

const (
	TableAliasA = "a"
	TableAliasB = "b"
	TableAliasC = "c"
	TableAliasD = "d"
	TableAliasE = "e"
	TableAliasF = "f"
	TableAliasG = "g"
)

const (
	Switch0   = 0
	Switch1   = 1
	SwitchNo  = "N"
	SwitchYes = "Y"
	SwitchOn  = "ON"
	SwitchOff = "OFF"
)
{{{.Content}}}