
type {{{.OriginNamePascal}}} struct {
    ts  *data.Tables
    way *hey.Way
}

// New{{{.OriginNamePascal}}} {{{.OriginName}}} {{{.Comment}}}
func New{{{.OriginNamePascal}}}(
    ts  *data.Tables,
    way *hey.Way,
) *{{{.OriginNamePascal}}} {
	return &{{{.OriginNamePascal}}}{
	    ts:  ts,
	    way: way,
	}
}
