// hey-template version: {{{.Version}}}

package data

import (
	"context"
    "database/sql"

	"github.com/cd365/g"
	"github.com/cd365/hey"

	"{{{.PrefixPackage}}}/model"
)

type {{{.OriginNamePascal}}} struct {
	schema *schema
	gg *g.GoGroup
	T *model.Hey{{{.OriginNamePascal}}}
	W *hey.Way
}

// New{{{.OriginNamePascal}}} {{{.OriginName}}} {{{.Comment}}}
func New{{{.OriginNamePascal}}}(
	ctx context.Context,
	gg *g.GoGroup,
	table *model.Hey{{{.OriginNamePascal}}},
	way *hey.Way,
) (*{{{.OriginNamePascal}}}, error) {
	s := &{{{.OriginNamePascal}}}{
		gg: gg,
		T: table,
		W: way,
	}
	if err := s.ofStart(ctx);err != nil {
		return nil, err
	}
	return s, nil
}

func (s *{{{.OriginNamePascal}}}) F(filters ...hey.Filter) hey.Filter {
	return s.W.F(filters...)
}

func (s *{{{.OriginNamePascal}}}) In(field string, values ...interface{}) hey.Filter {
	return s.F().In(field, values...)
}

func (s *{{{.OriginNamePascal}}}) Add(way ...*hey.Way) *hey.Add {
	return AutoWay(s.W, way...).Add(s.T.Table())
}

func (s *{{{.OriginNamePascal}}}) Del(way ...*hey.Way) *hey.Del {
	return AutoWay(s.W, way...).Del(s.T.Table())
}

func (s *{{{.OriginNamePascal}}}) Mod(way ...*hey.Way) *hey.Mod {
	return AutoWay(s.W, way...).Mod(s.T.Table())
}

func (s *{{{.OriginNamePascal}}}) Get(way ...*hey.Way) *hey.Get {
	return AutoWay(s.W, way...).Get(s.T.Table()).Column(s.T.Field()...)
}

func (s *{{{.OriginNamePascal}}}) Table() string {
    return s.T.Table()
}

func (s *{{{.OriginNamePascal}}}) Field(except ...string) []string {
    return s.T.Field(except...)
}

func (s *{{{.OriginNamePascal}}}) FieldMap() map[string]*struct{} {
	return s.T.FieldMap()
}

func (s *{{{.OriginNamePascal}}}) FieldExist(field string) bool {
    return s.T.FieldExist(field)
}

func (s *{{{.OriginNamePascal}}}) CreatedAt() []string {
	return s.T.FieldCreatedAt()
}

func (s *{{{.OriginNamePascal}}}) UpdatedAt() []string {
	return s.T.FieldUpdatedAt()
}

func (s *{{{.OriginNamePascal}}}) DeletedAt() []string {
	return s.T.FieldDeletedAt()
}

func (s *{{{.OriginNamePascal}}}) AddExcept() []string {
	return s.T.FieldAutoIncr()
}

func (s *{{{.OriginNamePascal}}}) ModExcept() (result []string) {
	result = s.AddExcept()
	result = append(result, s.T.FieldCreatedAt()...)
	return
}

func (s *{{{.OriginNamePascal}}}) AddAt(add *hey.Add, way ...*hey.Way) {
	timestamp := AutoWay(s.W, way...).Now().Unix()
	for _, field := range s.CreatedAt() {
		add.DefaultFieldValue(field, timestamp)
	}
	for _, field := range s.UpdatedAt() {
		add.DefaultFieldValue(field, timestamp)
	}
}

func (s *{{{.OriginNamePascal}}}) ModAt(mod *hey.Mod, way ...*hey.Way) {
	timestamp := AutoWay(s.W, way...).Now().Unix()
	for _, field := range s.UpdatedAt() {
		mod.DefaultSet(field, timestamp)
	}
}

func (s *{{{.OriginNamePascal}}}) NotExistsIndex(fields []string) []int {
	result := make([]int, 0)
	for k, v := range fields {
		if !s.FieldExist(v) {
			result = append(result, k)
		}
	}
	return result
}

func (s *{{{.OriginNamePascal}}}) Insert(insert interface{}, way ...*hey.Way) (int64, error) {
	return s.SelfInsert(func(add *hey.Add, t *model.Hey{{{.OriginNamePascal}}}) { model.HeyTableInsert(s, add, insert) }, way...)
}

func (s *{{{.OriginNamePascal}}}) Delete(filter hey.Filter, way ...*hey.Way) (int64, error) {
	return s.Del(way...).Where(filter).Del()
}

func (s *{{{.OriginNamePascal}}}) Update(filter hey.Filter, update map[string]interface{}, way ...*hey.Way) (int64, error) {
	return s.SelfUpdate(func(mod *hey.Mod, t *model.Hey{{{.OriginNamePascal}}}) {
		mod.Modify(update).Where(filter)
	}, way...)
}

func (s *{{{.OriginNamePascal}}}) Select(get func(get *hey.Get), query func(rows *sql.Rows) error, way ...*hey.Way) error {
	tmp := s.Get(way...)
	get(tmp)
	return tmp.Query(query)
}

func (s *{{{.OriginNamePascal}}}) SelectGet(get func(get *hey.Get), result interface{}, way ...*hey.Way) error {
	tmp := s.Get(way...)
	get(tmp)
	return tmp.Get(result)
}

func (s *{{{.OriginNamePascal}}}) Count(filter hey.Filter) (int64, error) {
	return s.Get().SubQueryGet(s.SelfSubGet(func(get *hey.Get, t *model.Hey{{{.OriginNamePascal}}}) {
		get.Where(s.F(filter))
	}), hey.AliasA).Count()
}

func (s *{{{.OriginNamePascal}}}) InsertMust(insert interface{}, way ...*hey.Way) error {
	return hey.MustAffectedRows(s.Insert(insert, way...))
}

func (s *{{{.OriginNamePascal}}}) DeleteMust(filter hey.Filter, way ...*hey.Way) error {
	return hey.MustAffectedRows(s.Delete(filter, way...))
}

func (s *{{{.OriginNamePascal}}}) UpdateMust(filter hey.Filter, update map[string]interface{}, way ...*hey.Way) error {
	return hey.MustAffectedRows(s.Update(filter, update, way...))
}

func (s *{{{.OriginNamePascal}}}) SelfInsert(fc func(add *hey.Add, t *model.Hey{{{.OriginNamePascal}}}), way ...*hey.Way) (int64, error) {
	tmp := s.Add(way...).Except(s.AddExcept()...)
	fc(tmp, s.T)
	s.AddAt(tmp, way...)
	return tmp.Add()
}

func (s *{{{.OriginNamePascal}}}) SelfDelete(fc func(del *hey.Del, t *model.Hey{{{.OriginNamePascal}}}), way ...*hey.Way) (int64, error) {
	tmp := s.Del(way...)
	fc(tmp, s.T)
	return tmp.Del()
}

func (s *{{{.OriginNamePascal}}}) SelfUpdate(fc func(mod *hey.Mod, t *model.Hey{{{.OriginNamePascal}}}), way ...*hey.Way) (int64, error) {
	tmp := s.Mod(way...).Except(s.ModExcept()...)
	fc(tmp, s.T)
	s.ModAt(tmp, way...)
	return tmp.Mod()
}

func (s *{{{.OriginNamePascal}}}) SelfGetAll(query func(get *hey.Get), way ...*hey.Way) (result []*model.{{{.OriginNamePascal}}}, err error) {
	tmp := s.Get(way...)
	query(tmp)
	err = tmp.Get(&result)
	return
}

func (s *{{{.OriginNamePascal}}}) SelfGetOne(query func(get *hey.Get), way ...*hey.Way) (*model.{{{.OriginNamePascal}}}, error) {
	tmp, err := s.SelfGetAll(func(get *hey.Get) {
		query(get)
		get.Limit(1)
	}, way...)
	if err != nil {
		return nil, err
	}
	if len(tmp) > 0 {
		return tmp[0], nil
	}
	return nil, nil
}

func (s *{{{.OriginNamePascal}}}) SelfSubGet(query func(get *hey.Get, t *model.Hey{{{.OriginNamePascal}}})) *hey.Get {
	get := s.Get()
	if query != nil {
		query(get, s.T)
	}
	return get
}

func (s *{{{.OriginNamePascal}}}) SelfInsertMust(fc func(add *hey.Add, t *model.Hey{{{.OriginNamePascal}}}), way ...*hey.Way) error {
	return hey.MustAffectedRows(s.SelfInsert(fc, way...))
}

func (s *{{{.OriginNamePascal}}}) SelfDeleteMust(fc func(del *hey.Del, t *model.Hey{{{.OriginNamePascal}}}), way ...*hey.Way) error {
	return hey.MustAffectedRows(s.SelfDelete(fc, way...))
}

func (s *{{{.OriginNamePascal}}}) SelfUpdateMust(fc func(mod *hey.Mod, t *model.Hey{{{.OriginNamePascal}}}), way ...*hey.Way) error {
	return hey.MustAffectedRows(s.SelfUpdate(fc, way...))
}

func (s *{{{.OriginNamePascal}}}) SelfGetAllMust(query func(get *hey.Get), way ...*hey.Way) ([]*model.{{{.OriginNamePascal}}}, error) {
	tmp, err := s.SelfGetAll(query, way...)
	if err != nil {
		return nil, err
	}
	if len(tmp) == 0 {
		return nil, sql.ErrNoRows
	}
	return tmp, nil
}

func (s *{{{.OriginNamePascal}}}) SelfGetOneMust(query func(get *hey.Get), way ...*hey.Way) (*model.{{{.OriginNamePascal}}}, error) {
	tmp, err := s.SelfGetOne(query, way...)
	if err != nil {
		return nil, err
	}
	if tmp == nil {
		return nil, sql.ErrNoRows
	}
	return tmp, nil
}
