// hey-template version: {{{.Version}}}

// 在这里你可以增加一些关于当前表的通用方法, 以便于统一处理对数据库当前表的操作
// 当前文件中定义的方法可与业务关联, 如果该文件存在, 模板系统将不再生成当前文件
// 因此可以在该文件最后适当添加自定义方法, 以便少写重复代码.

package data

import (
	"context"
	"github.com/cd365/hey"
)

// ofStart 启动自定义服务
func (s *{{{.OriginNamePascal}}}) ofStart(ctx context.Context) error {
	// 根据业务自定义相关属性
	t := s.T

	_, _ = ctx, t

	// TODO 启动自定义服务
	return nil
}

// ++++++++++++++++++++++
// +++ CUSTOM METHODS +++
// ++++++++++++++++++++++

// OfCustomBusiness for example your custom business
func (s *{{{.OriginNamePascal}}}) OfCustomBusiness(ctx context.Context, way ...*hey.Way) error {
	_, _ = ctx, way
	panic("implement your custom business")
}